SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=*
CORS_ALLOW_ALL_ORIGINS=True
TIME_ZONE=America/La_Paz

JWT_ACCESS_MINUTES=15
JWT_REFRESH_DAYS=7

EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DEFAULT_FROM_EMAIL=no-reply@citapro.local
WHATSAPP_PROVIDER_ENABLED=False
WHATSAPP_API_URL=https://graph.facebook.com/v22.0
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_ACCESS_TOKEN=
WHATSAPP_WEBHOOK_VERIFY_TOKEN=
WHATSAPP_APP_SECRET=
NOTIFICATION_CHANNELS=EMAIL
NOTIFICATION_REMINDER_MINUTES_BEFORE=1

TELEGRAM_PROVIDER_ENABLED=False
TELEGRAM_API_URL=https://api.telegram.org
TELEGRAM_BOT_USERNAME=
TELEGRAM_BOT_TOKEN=
TELEGRAM_DEFAULT_CHAT_ID=
TELEGRAM_WEBHOOK_SECRET_TOKEN=

CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/1
